/*

@pacakge CIS421 project
@author Egil Shijaku, ADD YOUR NAMES HERE GUYS

CSS HEAVEN!
*/

/*
    INDEX.PHP
==========================
*/
body{
  background-color: #FAFAFA;
  margin:20% 35%;
}

#welcomePageTitle{
  font-size: 60px;
}
